<div class="container-lg px-4 my-4 card rounded-3 shadow-sm">
    <h1><span appSizeTitulo>Registro alumno</span></h1>
    <form [formGroup]='registroAlumno' (ngSubmit)="onSubmit()">
        <br>
        <div class="row">
            <div class="col">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" formControlName="nombre">
                <p *ngIf="registroAlumno.get('nombre')?.touched && registroAlumno.get('nombre')?.errors?.['required']"
                    [ngClass]="registroAlumno.get('nombre')?.errors?.['required'] ? 'error' : ''">
                    El campo nombre no puede quedar vacio</p>
            </div>
            <div class="col">
                <label for="">Apellido:</label>
                <input type="text" class="form-control" formControlName="apellido">
                <p *ngIf="registroAlumno.get('apellido')?.touched && registroAlumno.get('apellido')?.errors?.['required']"
                    [ngClass]="registroAlumno.get('apellido')?.errors?.['required'] ? 'error' : ''">
                    El campo apellido no puede quedar vacio</p>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-8">
                    <label for="">Correo:</label>
                    <input type="text" class="form-control" formControlName="correo">
                    <p *ngIf="registroAlumno.get('correo')?.touched && registroAlumno.get('correo')?.errors?.['required']"
                        [ngClass]="registroAlumno.get('correo')?.errors?.['required'] ? 'error' : ''">
                        El campo correo no puede quedar vacio</p>
                    <p *ngIf="registroAlumno.get('correo')?.touched && registroAlumno.get('correo')?.errors?.['email']"
                        [ngClass]="registroAlumno.get('correo')?.errors?.['email'] ? 'error' : ''">
                        El formato del correo no es correcto</p>
                </div>
                <div class="col-4">
                    <label for="">Titulo:</label>
                    <select name="titulo" class="form-control" id="" formControlName="titulo">
                        <option value="Secundario">Secundario Completo</option>
                        <option value="Terciario">Terciario Completo</option>
                        <option value="Universitario">Universitario Completo</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for=""></label>
                    <br>
                    <!-- <button type="submit" class="btn btn-primary float-end">Postular</button> -->
                    <button type="submit" class="btn btn-primary float-end"
                        [disabled]="registroAlumno.invalid">Agregar</button>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </form>
</div>