<mat-sidenav-container color="primary">
  <mat-sidenav [(opened)]="opened">
    <mat-list>
      <mat-list-item><a routerLink="/listaAlumnos" style="text-decoration: none;">Lista alumnos</a></mat-list-item>
      <mat-list-item><a routerLink="/formAlumno" style="text-decoration: none;">Formulario alumnos</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="opened=!opened">Abrir sidenav</button>
  </mat-sidenav-content>
</mat-sidenav-container>