<h1>Notas de alumnos</h1>

<ul>
    <li *ngFor="let alumno of listaAlumnos" [ngClass]="alumno.esProfesional===true ? 'profesional' : ''">
        <div [ngClass]="alumno.nota<6 ? 'desaprobado' : 'aprobado'">
            <div [ngClass]="alumno.nota>=8 ? 'promocionado':''">
                {{alumno.apellido}}, {{alumno.nombre}} - Nota: {{alumno.nota}}
            </div>
        </div>
    </li>
</ul>


<h3>Aclaraciones:</h3>
<ul>
    <li>Si el alumno es profesional, se muestra en negrita</li>
    <li>Si desaprobo se muestra en rojo</li>
    <li>Si aprobo se muestra en azul</li>
    <li>Si promociono se muestra en ver</li>
    <li>Desaprobado menor 6, aprobado 6 o 7, promocionado 8, 9 y 10</li>
</ul>
