<div class="container-lg px-4 my-4 card rounded-3 shadow-sm">
    <h1><span appSizeTitulo>Lista de alumnos</span></h1>

    <table class="container-lg rounded-3 shadow-sm" mat-table [dataSource]="alumnos$">
        <ng-container matColumnDef="alumno">
            <th class="col-3" mat-header-cell *matHeaderCellDef>Alumno</th>
            <td mat-cell *matCellDef="let alumno">{{alumno | nombreApellido}}</td>
        </ng-container>
        <ng-container matColumnDef="correo">
            <th class="col-4" mat-header-cell *matHeaderCellDef>Correo</th>
            <td mat-cell *matCellDef="let alumno">{{alumno.correo}}</td>
        </ng-container>
        <ng-container matColumnDef="titulo">
            <th class="col-2" mat-header-cell *matHeaderCellDef>Titulo</th>
            <td mat-cell *matCellDef="let alumno">{{alumno.titulo}}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th class="col-2" mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let alumno">
                <a class="pointer" matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </a>
                <a class="pointer" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <br>
</div>
